@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Kaisei+Opti:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global */
:root {
	/* Color */
	--color-white: #ffffff;
	--color-light-white: #eeeeee;
	--color-dark-white: #bdbdbd;
	--color-red: #ea4f1b;
	--color-light-pink: #ffbd45;
	--color-yellow: #fff7d1;
	--color-pink: #fe918d;
	--color-dark-pink: #ff6863;
	--color-orange: #feb546;
	--color-grey: #616161;
	--color-light-grey: #7c7979;
	--color-dark-grey: #4d4d4d;
	--color-blue: #73aace;
	--color-navy: #2f4858;
	--color-black: #1f1f1f;
	--background-color: #f7f3f0;

	/* Font size */
	--font-large: 48px;
	--font-medium: 28px;
	--font-regular: 18px;
	--font-small: 16px;
	--font-micro: 14px;

	/* Font weight */
	--weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;

	/* Size */
	--size-border-radius: 1.5rem;

	/* Annimation */
	--animation-duration: 300ms;
}

/* Universal tags */
* {
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	cursor: default;
	background-color: var(--background-color);
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: var(--color-black);
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}
.cont__pagew {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	text-align: center;
}

/* Typography */
h1 {
	font-size: var(--font-large);
	font-weight: var(--weight-bold);
	color: var(--color-black);
	margin: 16px 0px;
}

h2 {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-black);
	margin: 8px 0;
}

h3 {
	font-size: var(--font-regular);
	font-weight: var(--font-regular);
	color: var(--color-black);
	margin: 8px 0;
}

p {
	font-size: var(--font-regular);
	font-weight: var(--font-regular);
	color: var(--color-black);
	line-height: 1.4;
	margin: 4px 0;
	word-break: keep-all;
}
.img-ani {
	-webkit-transition: all 1s cubic-bezier(0, 0.72, 0.44, 0.99);
	-moz-transition: all 1s cubic-bezier(0, 0.72, 0.44, 0.99);
	-ms-transition: all 1s cubic-bezier(0, 0.72, 0.44, 0.99);
	-o-transition: all 1s cubic-bezier(0, 0.72, 0.44, 0.99);
	transition: all 1s cubic-bezier(0, 0.72, 0.44, 0.99);
	transform: translate(0, 100px);
	-webkit-transform: translate(0, 100px);
	-moz-transform: translate(0, 100px);
	-ms-transform: translate(0, 100px);
	-o-transform: translate(0, 100px);
	opacity: 0;
}
.img-aniload {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	opacity: 1;
}
.img-ani.tran01 {
	transition-delay: 0.1s;
}
.img-ani.tran02 {
	transition-delay: 0.2s;
}
.img-ani.tran03 {
	transition-delay: 0.3s;
}

@media screen and (max-width: 768px) {
	:root {
		--font-large: 30px;
		--font-medium: 22px;
		--font-regular: 16px;
		--font-small: 14px;
		--font-micro: 12px;
	}
}
