/* wrap */
#wrap {
	height: 100vh;
}
.cont {
	margin: 2rem auto;
	background: url("../img/background.png") no-repeat center/cover;
	border-radius: 1.5rem;
	width: calc(100% - 4rem);
	height: calc(100% - 4rem);
}

/* header */
#header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}
#header .header__logo img {
	width: 60px;
}

/* home */
#home {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}
.home__title {
	font-size: var(--font-xl);
	color: var(--color-navy);
	letter-spacing: 10px;
}
.home_description {
	color: var(--color-navy);
	font-size: var(--font-large);
	margin-top: -100px;
}

/* aside */
aside {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 2rem;
	font-size: var(--font-small);
	color: var(--color-navy);
}
.navbar {
	border-radius: 1.2rem;
	padding: 0 1.5rem;
	box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
	backdrop-filter: blur(12px);
	scroll-behavior: smooth;
}
.navbar__menu {
	display: flex;
	gap: 20px;
}
.navar__menu__item {
	opacity: 0.7;
	position: relative;
	cursor: pointer;
	font-size: var(--font-regular);
	transition: all 0.3s ease;
}
.navar__menu__item:hover {
	opacity: 1;
	font-weight: var(--weight-semi-bold);
}
.navar__menu__item::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #fff;
	opacity: 0;
	transition: all 0.5s;
}
.navar__menu__item:hover::after {
	opacity: 1;
	width: 100%;
}

/* about */
#about {
	height: 100vh;
}
.section__title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.section__title i {
	font-size: 33px;
	color: var(--color-dark-pink);
}
.about__info {
	margin-top: 30px;
}
.about__majors {
	display: flex;
	justify-content: space-between;
	margin: 60px 0 70px 0;
}

.major__icon {
	width: 170px;
	height: 170px;
	line-height: 170px;
	font-size: 70px;
	margin: auto;
	color: var(--color-blue);
	border: 1px solid var(--color-blue);
	border-radius: 50%;
	margin-bottom: 16px;
}

.major__icon i {
	transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
	color: var(--color-pink);
	transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
	color: var(--color-dark-grey);
}

.major__description {
	font-size: var(--font-small);
}

.job {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.job__description {
	margin: 0 16px;
	text-align: left;
}

.job__name,
.job__period {
	color: var(--color-light-grey);
}

.job__name {
	font-size: var(--font-small);
}

.job__period {
	font-size: var(--font-micro);
}
.job__logo {
	width: 85px;
}
.job__logo.seoul {
	width: 35px;
	margin-right: 50px;
}

/* skill */
#skills {
	background-color: var(--color-light-pink);
	padding: 50px 0 80px 0;
}

#skills h2 {
	margin-top: -8px;
	margin-bottom: 15px;
}
.skillset {
	display: flex;
	background-color: var(--color-light-grey);
	color: var(--color-white);
}
.skillset__left {
	flex-basis: 60%;
	background-color: var(--color-dark-grey);
	padding: 20px 40px;
}
.skillset__right {
	flex-basis: 40%;
}
.tools {
	background-color: var(--color-grey);
}
.skillset__title {
	color: var(--color-white);
	font-size: 23px;
}
.skill {
	margin-bottom: 32px;
}
.skill__description {
	display: flex;
	justify-content: space-between;
}
.skill__description span {
	margin-bottom: 3px;
}
.skill__bar {
	width: 100%;
	height: 3px;
	background-color: var(--color-grey);
}
.sill__value {
	height: 3px;
	background-color: var(--color-orange);
}
.tools,
.etc {
	padding: 20px;
}

/* work */
#work {
	padding: 80px;
}
.work__categories {
	margin: 40px;
}

.category__btn {
	border: 1px solid var(--color-dark-white);
	border-radius: 4px;
	font-size: var(--font-regular);
	padding: 8px 48px;
	position: relative;
}

.category__btn.active,
.category__btn:hover {
	background-color: var(--color-pink);
	color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
	opacity: 1;
	top: 5px;
	position: absolute;
}

.category__count {
	background-color: var(--color-orange);
	border-radius: 50%;
	color: var(--color-white);
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	position: absolute;
	right: 18px;
	top: -22px;
	opacity: 0;
	transition: all 300ms ease-in;
}

.work__projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 250px;
	margin: 2px;
	background-color: var(--color-light-white);
}

.project__img {
	max-width: 100%;
	max-height: 100%;
	align-self: center;
}

.project__description {
	position: absolute;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transform: translateY(10px);
	transition: all 300ms ease-in;
}

.project:hover .project__description {
	opacity: 0.8;
	transform: translateY(0px);
}

.project__description h3,
.project__description span {
	color: var(--color-white);
}

.project__description h3:after {
	content: "";
	display: block;
	position: relative;
	left: 50%;
	width: 25px;
	height: 2px;
	margin-left: -12px;
	margin-top: 8px;
	background-color: var(--color-dark-white);
}
