body.on {
	opacity: 0;
}

/* wrap */
#wrap {
	background: url("../img/bg3.png") no-repeat center/cover;
}
#wrap .cont__pagew {
	max-width: 1680px;
	padding: 0 15px;
}

/* header */
#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	transition: all 300ms ease-in-out;
	height: 70px;
}
#header.header--dark {
	box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
	height: 50px;
	background-color: var(--color-navy);
}
.header__cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header .header__logo a {
	display: flex;
	color: var(--color-white);
	font-weight: var(--weight-semi-bold);
	align-items: center;
}
#header .header__logo img {
	width: 50px;
	margin-top: 3px;
	margin-left: -10px;
}
.navbar__menu {
	display: flex;
	gap: 20px;
}
.navar__menu__item {
	opacity: 0.7;
	position: relative;
	cursor: pointer;
	font-size: 17px;
	transition: all 0.3s ease;
	color: var(--color-navy);
}

.navar__menu__item.active,
.navar__menu__item:hover {
	opacity: 1;
}
.header--dark .navar__menu__item.active,
.header--dark .navar__menu__item {
	color: var(--color-white);
}
.navar__menu__item.active::after,
.navar__menu__item::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0%;
	height: 2px;
	background: var(--color-dark-pink);
	opacity: 0;
	transition: all 0.5s;
}
.navar__menu__item.active::after,
.navar__menu__item:hover::after {
	opacity: 1;
	width: 100%;
}
.navbar__toggle-btn {
	position: absolute;
	top: 20px;
	right: 22px;
	font-size: 24px;
	color: var(--color-white);
	display: none;
}
#header .header__logo span {
	margin-top: 0px;
}

/* home */
#home {
	text-align: center;
	padding-top: 145px;
	height: 100%;
	color: var(--color-navy);
}
.home__title {
	font-size: var(--font-xl);
	color: var(--color-navy);
	letter-spacing: 10px;
}
.home_description {
	color: var(--color-navy);
	font-size: var(--font-large);
	margin: 30px 0 20px 0;
}
.home__name {
	color: var(--color-white);
	margin-bottom: 30px;
	font-size: 33px;
}
.home__avatar {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 5px solid var(--color-light-white);
}
.home__contact {
	color: var(--color-white);
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
	padding: 12px 25px;
	border: 2px solid var(--color-white);
	border-radius: 4px;
	transition: all 300ms ease-in;
	box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
	backdrop-filter: blur(12px);
}
.home__contact:hover {
	border: 2px solid var(--color-dark-pink);
	color: var(--color-dark-pink);
}

/* aside */
aside {
	display: flex;
	justify-content: space-between;
	font-size: var(--font-small);
	color: var(--color-navy);
	padding-bottom: 2%;
	margin-top: 120px;
}

/* about */
#about {
	padding: 80px 0;
}
.section__title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.section__title i {
	font-size: 33px;
	color: var(--color-dark-pink);
}
.about__info {
	margin-top: 30px;
}
.about__majors {
	display: flex;
	justify-content: space-between;
	margin: 60px 0 70px 0;
}
.about__majors .major {
	position: relative;
}
.major__icon {
	width: 170px;
	height: 170px;
	line-height: 170px;
	font-size: 70px;
	margin: auto;
	color: var(--color-blue);
	border: 1px solid var(--color-blue);
	border-radius: 50%;
	margin-bottom: 16px;
}
.major__icon i {
	transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
	color: var(--color-pink);
	transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
	color: var(--color-dark-grey);
}

.major__description {
	font-size: var(--font-small);
}

.job {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.job__description {
	margin: 0 16px;
	text-align: left;
}

.job__name,
.job__period {
	color: var(--color-light-grey);
}

.job__name {
	font-size: var(--font-small);
}

.job__period {
	font-size: var(--font-micro);
}
.job__logo {
	width: 85px;
}
.job__logo.seoul {
	width: 35px;
	margin-right: 50px;
}

/* skill */
#skills {
	background-color: var(--color-light-pink);
	padding: 50px 0 80px 0;
}

#skills h2 {
	margin-top: -8px;
	margin-bottom: 15px;
}
.skillset {
	display: flex;
	background-color: var(--color-light-grey);
	color: var(--color-white);
}
.skillset__left {
	flex-basis: 60%;
	background-color: var(--color-dark-grey);
	padding: 20px 40px;
}
.skillset__right {
	flex-basis: 40%;
}
.tools {
	background-color: var(--color-grey);
}
.skillset__title {
	color: var(--color-white);
	font-size: 23px;
}
.skill {
	margin-bottom: 32px;
}
.skill__description {
	display: flex;
	justify-content: space-between;
}
.skill__description span {
	margin-bottom: 3px;
}
.skill__bar {
	width: 100%;
	height: 3px;
	background-color: var(--color-grey);
}
.skill__value {
	height: 3px;
	background-color: var(--color-orange);
}
.tools,
.etc {
	padding: 20px;
}
#skills .skill__bar .skill__value.n01,
#skills .skill__bar .skill__value.n02,
#skills .skill__bar .skill__value.n03,
#skills .skill__bar .skill__value.n04,
#skills .skill__bar .skill__value.n05 {
	width: 0;
	transition: width 500ms ease-in-out;
}
#skills.on .skill__bar .skill__value.n01 {
	width: 80%;
	transition-delay: 0.1s;
}
#skills.on .skill__bar .skill__value.n02 {
	width: 80%;
	transition-delay: 0.2s;
}
#skills.on .skill__bar .skill__value.n03 {
	width: 60%;
	transition-delay: 0.3s;
}
#skills.on .skill__bar .skill__value.n04 {
	width: 70%;
	transition-delay: 0.4s;
}
#skills.on .skill__bar .skill__value.n05 {
	width: 40%;
	transition-delay: 0.5s;
}

/* work */
#work {
	padding-top: 80px;
}
.work__categories {
	margin: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
}

.category__btn {
	border: 1px solid var(--color-dark-white);
	border-radius: 4px;
	font-size: var(--font-regular);
	padding: 8px 48px;
	position: relative;
}

.category__btn.selected,
.category__btn:hover {
	background-color: var(--color-pink);
	color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
	opacity: 1;
	top: 5px;
	position: absolute;
}

.category__count {
	background-color: var(--color-orange);
	border-radius: 50%;
	color: var(--color-white);
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	position: absolute;
	right: 18px;
	top: -22px;
	opacity: 0;
	transition: all 300ms ease-in;
	pointer-events: none;
}

.work__projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 1;
	transition: all 300ms ease-out;
}
.work__projects.anim-out {
	opacity: 0;
	transform: scale(0.96) translateY(40px);
}
.project {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 250px;
	margin: 2px;
	background-color: var(--color-light-white);
	display: block;
}
.project.invisible {
	display: none;
}
.project__img {
	max-width: 100%;
	max-height: 100%;
	align-self: center;
}

.project__description {
	position: absolute;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transform: translateY(10px);
	transition: all 300ms ease-in;
}

.project:hover .project__description {
	opacity: 0.8;
	transform: translateY(0px);
}

.project__description h3 {
	color: var(--color-orange);
}
.project__description span {
	color: var(--color-white);
}
.project__description h3:after {
	content: "";
	display: block;
	position: relative;
	left: 50%;
	width: 50px;
	height: 2px;
	transform: translateX(-50%);
	margin-top: 8px;
	background-color: var(--color-dark-white);
}

/* career */
#career {
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#career .cont__pagew {
	padding-right: 30px;
}
.career__cont {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top: 50px;
}

.career__txt__box {
	font-size: var(--font-medium);
	width: 90%;
	display: inline-block;
}
.career__txt__box span {
	width: 10%;
}
.career__logo {
	width: 80px;
}
.career__description {
	height: 0;
	line-height: 50px;
	overflow: hidden;
	pointer-events: none;
	transition: all 0.5s ease-in-out;
	opacity: 0;
}
.career__description.slide-down {
	height: 50px;
	opacity: 1;
	color: var(--color-dark-grey);
}
.career__box {
	text-align: left;
	z-index: 1;
	position: relative;
	padding: 10px;
	font-size: var(--font-medium);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-weight: var(--weight-semi-bold);
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
.career__box::after {
	width: 100%;
	height: 1px;
	position: absolute;
	content: "";
	background-color: rgba(0, 0, 0, 1);
	bottom: -1px;
	left: 0;
	transition: transform 600ms cubic-bezier(0.25, 0, 0.115, 0.995);
	transform: scale(0, 1);
	transform-origin: 0 0;
}
.career__box:hover::after {
	transform: scale(1, 1);
}
.career__img {
	position: absolute;
	width: 300px;
	height: 400px;
	object-fit: cover;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 30%;
	z-index: 9;
	visibility: hidden;
	pointer-events: none;
}
.num {
	color: #a682ff;
	/* color: #f6732c; */
}

/* contact */
#contact {
	padding: 80px 0;
	background-color: var(--color-navy);
	color: var(--color-white);
}
#contact .contact__title {
	color: var(--color-white);
	margin-bottom: 30px;
}
#contact .contact__title i {
	color: var(--color-pink);
}
.contact__cont ul {
	display: flex;
	justify-content: center;
}
.contact__cont ul .inner {
	flex-direction: column;
	font-size: var(--font-medium);
}
.contact__cont ul .inner span {
	padding: 8px;
	display: inline-block;
}
.contact__cont ul .inner a i {
	color: var(--color-white);
	transition: all 300ms ease-in;
}
.contact__cont ul .inner a:hover i {
	transform: scale(1.2) rotate(360deg);
	color: var(--color-red);
}
#contact .copy {
	font-size: var(--font-small);
	margin-top: 45px;
}

br.dis-no.vis-768 {
	display: none;
}

/* scroll-top button */
.scroll__top {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 30px;
	color: var(--color-white);
	background-color: var(--color-dark-pink);
	position: fixed;
	right: 50px;
	bottom: 50px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms ease-in;
}

.scroll__top:hover {
	filter: brightness(1.3);
}
.scroll__top i {
	font-size: 25px;
}
.scroll__top.on {
	opacity: 1;
	pointer-events: auto;
}

/* 반응형 */
@media screen and (max-width: 768px) {
	br.dis-no.vis-768 {
		display: block;
	}
	.scroll__top {
		width: 30px;
		height: 30px;
		right: 16px;
		line-height: 18px;
	}
	.scroll__top i {
		font-size: 20px;
	}
	/*header */
	#header {
		flex-direction: column;
		padding: 2px 0;
		background-color: var(--color-navy);
		height: auto;
	}
	#header .header__logo {
		text-align: left;
	}
	#header .header__logo img {
		width: 42px;
		margin-left: -10px;
	}
	.header__cont {
		display: block;
	}

	/* navbar */
	.navbar__toggle-btn {
		display: block;
		top: 11px;
		right: 10px;
	}
	.navbar {
		width: calc(100% + 30px);
		margin-left: -15px;
		padding: 0;
		border-radius: 0%;
		background-color: var(--color-navy);
	}
	.navbar__menu {
		flex-direction: column;
		text-align: center;
		width: 100%;
		display: none;
		gap: 0px;
	}
	.navbar__menu.on {
		display: block;
		margin: 0;
		margin-top: -2px;
	}
	.navar__menu__item {
		color: var(--color-white);
		opacity: 1;
		padding: 10px;
		transition: all 300ms ease;
	}
	.navar__menu__item.active,
	.navar__menu__item:hover {
		background-color: var(--color-pink);
	}
	.navar__menu__item::after {
		display: none;
	}
	.navar__menu__item:hover::after {
		display: none;
	}
	.navar__menu__item:hover {
		background-color: var(--color-pink);
		color: #fff;
	}
	.section__title i {
		font-size: 24px;
	}
	#header.header--dark {
		height: auto;
	}
	.navar__menu__item.active::after,
	.navar__menu__item:hover::after {
		opacity: 0;
	}

	/* home */
	#home {
		padding-top: 85px;
	}
	.home__avatar {
		width: 300px;
		height: 300px;
	}
	.home__name {
		font-size: var(--font-medium);
		margin-bottom: 18px;
	}
	.home__contact {
		padding: 8px 15px;
	}
	.home_description {
		margin: 23px 0 11px 0;
	}
	aside {
		flex-direction: column;
		margin-top: 85px;
		padding-bottom: 5%;
		font-size: var(--font-micro);
	}

	/* about */
	#about {
		padding: 50px 0;
	}
	.about__majors {
		flex-direction: column;
		margin: 30px 0;
	}
	.major {
		margin-bottom: 18px;
	}
	.major__icon {
		font-size: 50px;
		width: 150px;
		height: 150px;
		line-height: 150px;
		margin-bottom: 9px;
	}

	/* skill */
	.skillset {
		flex-direction: column;
	}
	#skills {
		padding: 40px 0 50px 0;
	}
	#skills h2 {
		font-size: var(--font-regular);
	}
	.skillset__title {
		margin-bottom: -8px;
	}

	/* work */
	#work {
		padding: 50px 0;
	}
	.project {
		flex-grow: 1;
	}
	.work__categories {
		flex-direction: column;
		margin: 20px 0 40px 0;
	}
	.category__btn.selected .category__count {
		font-size: var(--font-regular);
		width: 20px;
		height: 20px;
		line-height: 20px;
	}

	/* career */
	#career {
		padding: 0px 0 50px 0;
		height: auto;
	}
	.career__cont h3 p {
		font-size: var(--font-regular);
	}
	.career__logo {
		width: 60px;
	}
	.career__box {
		padding: 5px;
	}
	.career__img {
		display: none;
	}
	.career__cont {
		margin-top: 0;
	}

	/* contact */
	#contact {
		padding: 35px 0 30px 0;
	}
	.contact__cont ul .inner {
		font-size: var(--font-medium);
	}
}
